body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    
}
h1,h2,p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: normal;
    font-style: italic;
    font-stretch: condensed;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: normal;
    letter-spacing: 4px;
    word-spacing: 4px;
    border: solid;
    border-width: 8px;
    border-color: springgreen;
    border-style: dotted;
}