.continar{
    font-size: 30px;
    padding: 50px;
    text-decoration: none;
    
}
.continar:visited{
    color: rgb(31, 29, 29);
}
.continar:hover{
    color:rgb(161, 177, 177)

}
.continar:active{
    color: rgb(144, 127, 255);
}
.continar:link{
    color: chartreuse;
}

.leo{
    
    padding-top: 14px;
    padding-bottom: 2px;
    padding-right: 100px;
    padding-left: 100px;
    border: 20px;
    border-radius: 10px;
    
}




nav{
    width:100%;
    background-color: rgb(153, 139, 139);
    height: 40px;
    margin-top: 35px;
}
.login{
    float: right;
    font-size: 20px;
    padding-right: 10px;
    text-decoration: none;
    color: aliceblue;
    padding-top: 8px;
}

.sachu{
    text-align: center;
    color: rgb(240, 232, 230);
    background-color: rgb(5, 10, 5);


}
.hama{
    border: 10px;
    border-radius: 22px;
}
.navi{
    height: 24px;
    width: 22px;
    border: 10px;
    border-radius: 82px;
}
.lion{
    border: 12px;
    border-radius: 23px;
    width: 36px;
    height: 22px;
    padding: 4px;
}

.vi{
    background-image:url(html-css--js/resedarant/boy/jayahtml-css--js/resedarant/boy/jaya);
}
.Signup{
    float: right;
    font-size: 20px;
    padding-right: 45px;
    text-decoration: none;
    color: aliceblue;
    padding-top: 7px;
}
.santhosh{
  
    width: 160px;
    height:160px;
    border: 10px;
    border-radius: 120px;
    padding: 35px;
}
article{
    height: 700px;
    background-color: aqua;
}
.thosh{
  
    width: 160px;
    height:160px;
    border: 10px;
    border-radius: 120px;
    padding: 35px;
}