<article>
    <blockquote>
        <h1>Best for your first order </h1>
    </blockquote>

    <div>
        <blockquote>

            <img class="santhosh" src="./../../assets/images/dosa with samber.jpeg" alt="dosa with sambar"
                title="special dosa">



            <img class="santhosh" src="./../../assets/images/poori.jpeg" alt="poori with masala,kurma"
                title="sp poori">Poori

            <img class="santhosh" src="./../../assets/images/briyani.jpeg" alt="briyani "
                title="special briyani">Briyani


            <img class="santhosh" src="./../../assets/images/burger.jpeg" alt="burger" title="burger">Burger


            <img class="santhosh" src="./../../assets/images/pizza.jpeg" alt="pizza" title="pizza">Pizza

        </blockquote>
        <blockquote>
            <h1>Top brands</h1>
        </blockquote>
        <blockquote>

            <img class="thosh" src="./boy/kfc im" alt="kfc" title="KFC">kfc
            <img class="thosh" src="./boy/burger logo" alt="top brands of burger " title="special briyani">Burger king
            <img class="thosh" src="./boy/dominomain" alt="dominos" title="dominos">dominos
            <img class="thosh" src="./boy/mc donls" alt="mcdonels" title="mcdonels">Mcdonels
            <img class="thosh" src="./boy/coffee" alt="foodo" title="foodo">coffee
        </blockquote>

    </div>
</article>