<div>
    <a class="login" href="./form1.html">Login</a>
    <a class="Signup" href="./form1.html">Sign up</a>
    <img class="lion" src="./boy/deliver boy.jpg" />
    <a class="continar" href="index.html">
        Delivery<img class="lion" src= ></a>
    <a class="continar" href="about.html">About</a>

    <a class="continar" href="menu.html">Menu</a>

    <a class="continar" href="https://www.swiggy.com/city/bangalore" target="_blank">Order Online</a>

    <label for="search"></label>
    <input class="leo" type="search" id="search" placeholder="search" />
    <button class="hama" type="submit">
        <img class="navi" src="./boy/search button.jpg" />
    </button>
</div>

<br />
<br />